In [4]:
# Appel des librairies nécessaires

import numpy as np
import pandas as pd
import datetime as dt

import fastparquet #conda install -c conda-forge fastparquet

In [28]:
filepath = 'C:/Users/PC/Documents/import/paiements2.csv'
print(filepath)

paiement = pd.read_csv(filepath, sep = ';', dtype = 'str')

# Affiche les 5 premières lignes du dataframe
paiement.head()

C:/Users/PC/Documents/import/paiements2.csv

      ID Campagne   Opération Type Adhérent  Montant         Date Contact ID
0  00001  Adh2020    Adhésion  Bénéficiaire   10,00    30/11/2019         11
1  00002  Adh2020  Don Unique           NaN   10,00    30/11/2019         11
2  00003  Adh2020    Adhésion   Bienfaiteur   50,00    02/01/2020          1
3  00004  Don2020  Don Unique           NaN   50,00    28/02/2020          1
4  00005  Adh2020    Adhésion         Actif   10,00    31/01/2020          4

In [29]:
## Remplacement des espaces par '_'

paiement.columns = paiement.columns.str.replace(' ', '_')

In [30]:
paiement.head()

      ID Campagne   Opération Type_Adhérent _Montant_        Date Contact_ID
0  00001  Adh2020    Adhésion  Bénéficiaire   10,00    30/11/2019         11
1  00002  Adh2020  Don Unique           NaN   10,00    30/11/2019         11
2  00003  Adh2020    Adhésion   Bienfaiteur   50,00    02/01/2020          1
3  00004  Don2020  Don Unique           NaN   50,00    28/02/2020          1
4  00005  Adh2020    Adhésion         Actif   10,00    31/01/2020          4

In [37]:
#Transformation de données

In [111]:
contact_id_nouveau = paiement.astype({"Contact_ID": int}) #conversion de la colonne contact_id en int
operation_nouveau = paiement.astype({"Opération": str})

In [117]:
print(contact_id_nouveau)
contact_id_nouveau.info()
operation_nouveau.info()

       ID Campagne   Opération Type_Adhérent _Montant_        Date  Contact_ID
0   00001  Adh2020    Adhésion  Bénéficiaire   10,00    30/11/2019          11
1   00002  Adh2020  Don Unique           NaN   10,00    30/11/2019          11
2   00003  Adh2020    Adhésion   Bienfaiteur   50,00    02/01/2020           1
3   00004  Don2020  Don Unique           NaN   50,00    28/02/2020           1
4   00005  Adh2020    Adhésion         Actif   10,00    31/01/2020           4
5   00006  Adh2020    Adhésion   Bienfaiteur   50,00    15/03/2020           2
6   00007  Adh2020  Don Unique           NaN   20,00    15/03/2020           2
7   00008  Don2020  Don Unique           NaN   30,00    04/04/2020           7
8   00009  Adh2020    Adhésion  Bénéficiaire   10,00    03/03/2020           6
9   00010  Don2020  Don Unique           NaN   50,00    05/05/2020           8
10  00011  Adh2020    Adhésion         Actif   10,00    20/06/2020           8
11  00012  Adh2020  Don Unique           NaN   30,00    20/06/2020           8
12  00013  Adh2020    Adhésion   Bienfaiteur   50,00    20/05/2020           5
13  00014  Adh2020    Adhésion         Actif   10,00    21/04/2020          12
14  00015  Adh2020  Don Unique           NaN   20,00    21/04/2020          12
15  00016  Adh2020    Adhésion         Actif   10,00    30/03/2020           9
16  00017  Don2020  Don Unique           NaN   30,00    15/02/2020           5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             17 non-null     object
 1   Campagne       17 non-null     object
 2   Opération      17 non-null     object
 3   Type_Adhérent  9 non-null      object
 4   _Montant_      17 non-null     object
 5   Date           17 non-null     object
 6   Contact_ID     17 non-null     int32
dtypes: int32(1), object(6)
memory usage: 1012.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             17 non-null     object
 1   Campagne       17 non-null     object
 2   Opération      17 non-null     object
 3   Type_Adhérent  9 non-null      object
 4   _Montant_      17 non-null     object
 5   Date           17 non-null     object
 6   Contact_ID     17 non-null     object
dtypes: object(7)
memory usage: 1.1+ KB

In [56]:
#paiement['Date']= pd.to_datetime(paiement['%m', '%d', '%Y'])

In [58]:
#montant en réel

In [122]:
#affichage lignes 7 à 10 et colonnes 4 à 5 du dataframe

paiement.iloc[7:11,[1,2,3,4]]

#affichage lignes 7,9 et 13 et colonnes 1,3 et 5 du dataframe

paiement.iloc[[7,9,13],[1,3,5]]

#pd.iloc([1,2,3]).Index(paiement)

   Campagne Type_Adhérent        Date
7   Don2020           NaN  04/04/2020
9   Don2020           NaN  05/05/2020
13  Adh2020         Actif  21/04/2020

In [107]:
## Afficher les lignes du dataframe pour la Campagne Adh2020

select_campagn_ADH2020 = paiement.loc[paiement['Campagne'] == 'Adh2020']
print(select_campagn_ADH2020)

       ID Campagne   Opération Type_Adhérent _Montant_        Date Contact_ID
0   00001  Adh2020    Adhésion  Bénéficiaire   10,00    30/11/2019         11
1   00002  Adh2020  Don Unique           NaN   10,00    30/11/2019         11
2   00003  Adh2020    Adhésion   Bienfaiteur   50,00    02/01/2020          1
4   00005  Adh2020    Adhésion         Actif   10,00    31/01/2020          4
5   00006  Adh2020    Adhésion   Bienfaiteur   50,00    15/03/2020          2
6   00007  Adh2020  Don Unique           NaN   20,00    15/03/2020          2
8   00009  Adh2020    Adhésion  Bénéficiaire   10,00    03/03/2020          6
10  00011  Adh2020    Adhésion         Actif   10,00    20/06/2020          8
11  00012  Adh2020  Don Unique           NaN   30,00    20/06/2020          8
12  00013  Adh2020    Adhésion   Bienfaiteur   50,00    20/05/2020          5
13  00014  Adh2020    Adhésion         Actif   10,00    21/04/2020         12
14  00015  Adh2020  Don Unique           NaN   20,00    21/04/2020         12
15  00016  Adh2020    Adhésion         Actif   10,00    30/03/2020          9

In [120]:
## Affichage lignes où Opération = don unique avec la méthode query()

affichage_query = paiement.query('Opération=="Don Unique"')
print(affichage_query)

       ID Campagne   Opération Type_Adhérent _Montant_        Date Contact_ID
1   00002  Adh2020  Don Unique           NaN   10,00    30/11/2019         11
3   00004  Don2020  Don Unique           NaN   50,00    28/02/2020          1
6   00007  Adh2020  Don Unique           NaN   20,00    15/03/2020          2
7   00008  Don2020  Don Unique           NaN   30,00    04/04/2020          7
9   00010  Don2020  Don Unique           NaN   50,00    05/05/2020          8
11  00012  Adh2020  Don Unique           NaN   30,00    20/06/2020          8
14  00015  Adh2020  Don Unique           NaN   20,00    21/04/2020         12
16  00017  Don2020  Don Unique           NaN   30,00    15/02/2020          5

In [126]:
## Affichage lignes où les dons ont été effectués en Campagne adhésion

affichage_query = paiement.query('Opération=="Don Unique"' and 'Campagne=="Adh2020"')
print(affichage_query)

       ID Campagne   Opération Type_Adhérent _Montant_        Date Contact_ID
0   00001  Adh2020    Adhésion  Bénéficiaire   10,00    30/11/2019         11
1   00002  Adh2020  Don Unique           NaN   10,00    30/11/2019         11
2   00003  Adh2020    Adhésion   Bienfaiteur   50,00    02/01/2020          1
4   00005  Adh2020    Adhésion         Actif   10,00    31/01/2020          4
5   00006  Adh2020    Adhésion   Bienfaiteur   50,00    15/03/2020          2
6   00007  Adh2020  Don Unique           NaN   20,00    15/03/2020          2
8   00009  Adh2020    Adhésion  Bénéficiaire   10,00    03/03/2020          6
10  00011  Adh2020    Adhésion         Actif   10,00    20/06/2020          8
11  00012  Adh2020  Don Unique           NaN   30,00    20/06/2020          8
12  00013  Adh2020    Adhésion   Bienfaiteur   50,00    20/05/2020          5
13  00014  Adh2020    Adhésion         Actif   10,00    21/04/2020         12
14  00015  Adh2020  Don Unique           NaN   20,00    21/04/2020         12
15  00016  Adh2020    Adhésion         Actif   10,00    30/03/2020          9

In [132]:
## Sauvegarde Pandas dataframe

datatoexcel = pd.ExcelWriter('C:/Users/PC/Documents/import/Test.xlsx')
paiement.to_excel(datatoexcel)  
datatoexcel.save()
print(dataframe_excel)

None